.contact-background
  .container
    .main-contact.col-md-7
      h4 Let's Talk!
      p Don't hesitate to contact me for more information about booking or pricing. Send me an email and let's make it happen! Email not your style? Reach out or stalk me on social media.
      p
        a(href="mailto:kyleturco@gmail.com") kyleturco@gmail.com

      h4(class="social-media") Social Media
      .contact-icon
        a(class="twitter" href="http://twitter.com/kyleturco" target ="_blank" title="Kyle Turco | Twitter")
          i(class="fa fa-twitter-square")
      .contact-icon
        a(class="linkedin" href="http://linkedin.com/kturco" target ="_blank" title="Kyle Turco | LinkedIn")
          i(class="fa fa-linkedin-square")
      .contact-icon
        a(class="github" href="http://github.com/kyleturco" target ="_blank" title="Kyle Turco | Github")
          i(class="fa fa-github-square")


      //- .contact-icon
      //-   a(class="twitter" href="http://twitter.com/kyleturco" target ="_blank" title="Kyle Turco | Twitter")
      //-     i(class="fa fa-twitter")
      //-       p @kyleturco
      //- .contact-icon
      //-   a(class="linkedin" href="http://linkedin.com/kturco" target ="_blank" title="Kyle Turco | LinkedIn")
      //-     i(class="fa fa-linkedin-square")
      //-       p LinkedIn
      //- .contact-icon
      //-   a(class="github" href="http://github.com/kyleturco" target ="_blank" title="Kyle Turco | Github")
      //-     i(class="fa fa-github")
      //-       p Github

