.hero-section
  .container
    .hero-text
      h3.big-header Kyle Turco
      p.subheader Web  |  Illustration  |  Music
.about-background
  .container
    .bio-section
      .col-md-3
        .about-photo
      .about-bio.col-md-9
        h3 Nashville-based Designer & Developer
        p Kyle Turco is a web developer, designer/artist, and musician residing in Nashville, TN.
        p He currently works in marketing as a Creative Manager. His role includes web development, front-end/UX design, digital illustration, art direction and video production.
        p As a musician, Kyle is a graduate of Belmont University with a degree in Commercial Music and a focus in Music Technology. He maintains a regular performance schedule at venues throughout Nashville. Additionally, his composition and production work has been featured in over two dozen television and internet advertising campaigns.

