.music-background
  .container
    .music-section
      .album-thumb.col-md-4
      .audio-section.col-md-8
        .music-clip
          h4.song-title Stompin' at the Savoy
          p Listen Now!
        .music-clip
          h4.song-title Mean to Me
          p Listen Now!
        .music-clip
          h4.song-title Darn That Dream
          p Listen Now!
    //- div(class="clearfix")
    .youtube-clips.col-md-12
      .music-video.1.col-md-6
        iframe(src="https://www.youtube.com/embed/t0qPa7Ch4h0" frameborder="0" allowfullscreen)
      .music-video.2.col-md-6
        iframe(src="https://www.youtube.com/embed/mT0s5nZeJ5s" frameborder="0" allowfullscreen)
