.web-background
  .container
    .web-project.col-md-12
      .web.screenshot.col-md-4
        .web-screenshot
          img(src="assets/img/teachertracker-screenshot.jpg")
      .web.description.col-md-8
        h3 TeacherTracker
        p A full MEAN stack app created for private lesson music teachers. The app allows teachers to keep track of their students, schedule and lesson plans.
        h4 Tech Stack
        ul
          li AngularJS
          li Bootstrap
          li MongoDB
          li Express
          li Node.js
        a(href="http://teachertracker.herokuapp.com/#/register" target="_blank")
          button.btn.btn-primary.button-main-blue(class="button-main-blue") View Project

    .web-project.bottom.col-md-12
      .web.screenshot.col-md-4
        .web-screenshot
          img(src="assets/img/bankroll-screenshot2.png")
      .web.description.col-md-8
        h3 Bankroll App
        p A simple app created to manage part-time freelance income and expenses. Built in AngularJS, Bankroll features user registration and logs yearly totals for income and expenses.
        h4 Tech Stack
        ul
          li AngularJS
          li Firebase
        a(href="https://github.com/kyleturco/bankroll-app" target="_blank")
          button.btn.btn-primary.button-main-blue(class="button-main-blue") View Project
