.footer
  .container
    .footer-left
      p ©2015 Kyle Turco
    .footer-right
      .footer-icons
        ul(class="list-inline")
          li
            a(class="twitter" href="http://twitter.com/kyleturco" target ="_blank" title="Kyle Turco | Twitter")
              i(class="fa fa-twitter")
          li
            a(class="linkedin" href="http://linkedin.com/kturco" target ="_blank" title="Kyle Turco | LinkedIn")
              i(class="fa fa-linkedin-square")
          li
            a(class="github" href="http://github.com/kyleturco" target ="_blank" title="Kyle Turco | Github")
              i(class="fa fa-github")
