.navbar
  .container
    .header-nav-left
      .header-logo
        h3.logo-header: a(href="/#/") Kyle Turco
        p.logo-subheader: a(href="/#/") Web | Art | Music
    .header-nav-right
      .header-links
        ul(class="list-inline")
          li: a(href="/#/web") Web
          li: a(href="/#/art") Art/Illustration
          li: a(href="/#/music") Music
          li: a(href="/#/contact") Contact
